<div class="bottom-nav">
    <div class="nav-container">
        <a href="/user/dashboard" class="nav-btn <%= currentPage === 'dashboard' ? 'active' : '' %>">
            <span class="nav-icon"><img src="/images/icons/home.svg" alt="Accueil" class="nav-icon-img"></span>
            <span>Accueil</span>
        </a>
        <a href="/user/products" class="nav-btn <%= currentPage === 'products' ? 'active' : '' %>">
            <span class="nav-icon"><img src="/images/icons/products.svg" alt="Produits" class="nav-icon-img"></span>
            <span>Produits</span>
        </a>
        <a href="/user/my-products" class="nav-btn <%= currentPage === 'my-products' ? 'active' : '' %>">
            <span class="nav-icon"><img src="/images/icons/my-products.svg" alt="Mes Produits" class="nav-icon-img"></span>
            <span>Mes Produits</span>
        </a>
        <a href="/user/account" class="nav-btn <%= currentPage === 'account' ? 'active' : '' %>">
            <span class="nav-icon"><img src="/images/icons/account.svg" alt="Compte" class="nav-icon-img"></span>
            <span>Compte</span>
        </a>
    </div>
</div>
