    <div class="legal-footer">
        <a href="/legal">Legal</a>
        <span>|</span>
        <a href="/cgu">CGU</a>
        <span>|</span>
        <a href="/privacy">Confidentialite</a>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
